body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
/* 
.card {
  width: 100%;
  min-height: 40px; 
  max-height: 60px;
  color: blueviolet;
  cursor: pointer;
} */